/*---- Header background colour -----*/

header{
	background-color: whitesmoke;
	overflow: hidden;
	position: fixed;
	width: 100%;
	margin:0%;
	
}

/*---body margin----*/
body{
	margin: 0%;
}

/*----heading -----*/
.heading{
	float: left;
	margin-left: 10px;
}

/*-----positioning of nav-----*/
ul{
padding-top: 15px;
text-indent: 20px;
}

/*---nav bar formatting----*/
li{
	display: inline;
    font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-size: 20px;
	text-indent: 20px;	
}
 
.nav{
	float: right;
	vertical-align:center;
	align-self:center;
	margin-right: 20px;
	word-spacing: 15px;
	
}
/*------removing the underlined of anchor ----*/
a{
	text-decoration: none;
}

/*---setting the hero content to full width---*/
.hero{
	width: 100%;
}
.content_img{
	height:80%;
	width: 100%;
}

/*-----text decoration of heading of section---*/
h3{
	text-decoration: underline;
}

/*-----flexbox layout-----*/

/*-----flex container-----*/
.flex_container{
	display: flex;
	flex-direction: row;
	text-align:justify;
	margin-left: 10px;
	margin-right: 10px;	
}

/*-----flex item---*/
.flex-item{
	margin: 10px;
	padding: 20px;
}

/*-----footer background color-----*/
footer{
	background-color: gainsboro;
}

/*----- footer icon size----*/
.footer{
	width: 35px;
	height: 35px;
}

@media(max-width: 700px){

	.flex_container{
		display: flex;
		flex-direction: column;
		text-align:justify;
		margin-left: 10px;
		margin-right: 10px;	
	}
}